
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.display-topleft{
	text-align: left;
	color: #fff;
	padding: 10px;
}

.display-middle{
	text-align: center;
	padding-top: 200px;
	font-size: 20px;
	color: #fff;
}